{% load widget_tweaks %}
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Car App{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/argon.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/argon.min.css' %}">
    </head>
    <body>      
        <nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-default">
            <div class="container">
                <a class="navbar-brand" href="/">Rental Car</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-default">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="../../index.html">
                                    <img src="../../assets/img/brand/blue.png">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link nav-link-icon" href="#">
                                <i class="ni ni-favourite-28"></i>
                                <span class="nav-link-inner--text d-lg-none">Discover</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-icon" href="#">
                                <i class="ni ni-notification-70"></i>
                                <span class="nav-link-inner--text d-lg-none">Profile</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link nav-link-icon" href="#" id="navbar-default_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ni ni-settings-gear-65"></i>
                                <span class="nav-link-inner--text d-lg-none">Settings</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
      <main>


              <section class="section section-shaped section-lg">
                  <div class="container pt-lg-md">
                    <div class="row justify-content-center">
                      <div class="col-lg-8">
                        <!-- <div class="card bg-secondary shadow border-0"> -->
                          <div class="card-body px-lg-5 py-lg-5">
                            <form enctype="multipart/form-data" method="POST" role="form">
                                {% csrf_token %}
                                            
                                
                                    <div class="form-group">
                                      {{ form.location.label_tag }}
                                      {{ form.location|add_class:'form-control' }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.startdate.label_tag }}
                                        <div class="input-group ">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                            </div>
                                            
                                            {{ form.startdate|add_class:'form-control datepicker' }}
                                            <!-- <input class="form-control datepicker" placeholder="Select date" type="text" value="06/20/2018"> -->
                                        </div>
                                    </div>
                      
                                    
                                
            
                                {{ formset.as_table }}
                              
                              <div class="text-center">
                                <button type="submit" class="btn btn-primary mt-4">FIND</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
      </main>
      <script src="{% static 'assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>

    </body>
</html>


