<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Rental Car App{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/argon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/argon.min.css' %}">
</head>
<body>

        <div class="row">
                <div class="col-lg-11">
                  <section class="section section-lg pt-lg-5 ">
                    <div class="row justify-content-center" >
              
                      <div class="col-lg-10">
              
                        <div class="row row-grid" id="carddata">
              
                          {% for car in cars %}
                          <a href="{{ car.get_absolute_url }}">
                            <div class="col-lg-3 pt-2 d-flex align-items-stretch">
                                <div class="card card-lift--hover shadow border-0">
                                  <img class="card-img-top" style=" width: 100%; height: 15vw; object-fit: cover;" src="{% if car.photo %} {{ car.photo.url }} 
                                        {% else %} {% static 'img/default.jpg' %} {% endif %}">
                                        <div class="card-body">
                                              <div class="container">
                                                <div class="row">
                                                  <div class="col-sm">
                                                    <h1 class="text-center"> Rs.{{ car.price|floatformat }}</h1>
                                                  </div>
              
                                                </div>
                                              </div>
                                              <h3 class="text-primary text-center"><a
                                                  href="{{ car.get_absolute_url }}">
                                                  {{ car.name }}</a></h3>
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                  </a>
                                  {% endfor %}
              
                                </div>
              
                              </div>
              
                            </div>
                  </section>
              
                </div>
              
              </div>



  
</body>
</html>


